.display-none{
  display: none;
}

.badge-anim{
  margin: 6px;
}

.background-yellow{
  background: #e4d351;
}

.goal-select{
  width: 100%;
}

.goal-select option{
  height: 40px;
  font-size: 20px;
}
